Variables are a unit of value that represents a number or a symbol. Below is an example of a variable using the graduation year.

In [1]:
graduationyear= 2025
print(graduationyear)

2025

# Data Types

<li> integer: a mathematical number </li>
<li> boolean: a yes/no or true/false statement </li>
<li> text (or string): for any text-based variable including phone numbers </li>

Below are examples of each in the order

In [2]:
highscore = 9
Isfullmoon = False
lastname = "Hernandez"
print (str(highscore) + " is an integer")
print (str(Isfullmoon) + "is a boolean")
print (lastname + " is a string")

9 is an integer
Falseis a boolean
Hernandez is a string

# Changing Values

In [3]:
num1 = 30
num2 = 15
num3 = 25
num2 = num3 
num3 = num1
num1 = num2

In [5]:
word1 = 1
word2 = 2
word3 = 3
word1=word2
word2=word3
word3=word1
print (str(word1))
print (str(word2))
print (str(word3))

2
3
2

# Data Abstraction

## strings
<li> ordered sequence of characters
<li> may contain letters, numbers, and all omther special characters
<li> Ex: words, phrases, sentences, ID numbers</li>
example below:

In [8]:
groupName = ["Marcus","Kayden","Ameer","Hao"]
print(groupName[0])
print(groupName[1])
print(groupName[2])
print(groupName[3])

Marcus
Kayden
Ameer
Hao

In [11]:
Classes = ["ethnic lit","physics","calculus","computer science","football class"]
print(Classes[2])

calculus

In [13]:
scores1 = [10,11,12,13,14]
scores2 = [1,2,3,4]
scores3 = [3,3,30,3]
scores1 = scores2
scores2 = scores3
scores3 = scores 1
print(scores[1])

SyntaxError: invalid syntax (3136748980.py, line 6)

# Homework

In [3]:
# Variable 1: Integer
gradYear = 2025 
print(gradYear)

# Variable 2 : String
Videogame = "Fortnite"
print(Videogame) 

# Variable 3: List
DelNorteCurrentGraduationYears = ("2027","2026","2025","2024")
print(DelNorteCurrentGraduationYears)

# Variable 4: Booleon
FortniteisCool = True
print(FortniteisCool)

2025
Fortnite
('2027', '2026', '2025', '2024')
True